.campaigns .campaign-item {
    padding: 70px 35px;
    background-size: cover;
    background-position: center;
    flex: 1;
    color: white;
  }
  
  .campaigns .campaign-item .campaign-title {
    font-size: 26px;
    font-weight: 600;
    line-height: 30px;
  }
  
  .campaigns .campaign-item .campaign-desc {
    margin: 40px 0;
    font-size: 14px;
  }
  
  .campaigns-wrapper:nth-child(1) .campaign-item:nth-child(1) {
    background-image: url(../../img/campaigns/kolye.jpg);
  }

  .campaigns-wrapper:nth-child(1) .campaign-item:nth-child(1) .campaign-title::after{
    color:#FCF8F3;
    content: 'Kolye Koleksiyonu';
  }
  
  .campaigns-wrapper:nth-child(1) .campaign-item:nth-child(2) {
    background-image: url(../../img/campaigns/canta.jpg);
  }

  .campaigns-wrapper:nth-child(1) .campaign-item:nth-child(2) .campaign-title::after{
    color:#FCF8F3;
    content: 'Çanta Koleksiyonu';
  }
  
  .campaigns-wrapper:nth-child(2) .campaign-item:nth-child(1) {
    background-image: url(../../img/campaigns/yuzuk.jpg);
    flex: 5;
  }

  .campaigns-wrapper:nth-child(2) .campaign-item:nth-child(1) .campaign-title::after{
    color:#FCF8F3;
    content: 'Yüzük Koleksiyonu';
  }
  
  .campaigns-wrapper:nth-child(2) .campaign-item:nth-child(2) {
    background-image: url(../../img/campaigns/toka.webp);
    flex: 3;
  }

  .campaigns-wrapper:nth-child(2) .campaign-item:nth-child(2) .campaign-title::after{
    color:#FCF8F3;
    content: 'Toka Koleksiyonu';
  }
  
  @media (max-width: 768px) {
    .campaigns .campaign-item {
      width: 100%;
      flex: unset !important;
    }
  }
  